.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }
/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  -webkit-animation: ccc 1.6s linear infinite ;
  animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
  0% {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(-1turn)
  }
}
@keyframes ccc {
  0% {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(-1turn)
  }
}
#content-inner.layout h1::before {
  color: #ef50a8 ;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061 ;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00 ;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000 ;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850 ;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0.0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0 ;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0.0rem;
}
#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
  color: #e35fdf ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
  color: #49b1f5 ;
  -webkit-animation: ccc 3.2s linear infinite ;
  animation: ccc 3.2s linear infinite ;
}

/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
  -webkit-animation: fa-spin 5s linear infinite ;
          animation: fa-spin 5s linear infinite ;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  background:rgba(109, 226, 231, 0.4);
}
/* 首页侧栏卡片 */
.card-widget{
background:rgba(233, 166, 159, 0.4)!important;
}
/* 文章页面正文背景 */
div#post{
background: rgba(180, 221, 235, 0.7);
}
/* 分页页面 */
div#page{
background: #50dbf073;
}
/* 归档页面 */
div#archive{
background: rgba(221, 87, 221, 0.45);
}
/* 标签页面 */
div#tag{
background: rgba(233, 142, 57, 0.45);
}
/* 分类页面 */
div#category{
background: rgba(106, 71, 245, 0.4);
}
/* 夜间和阅读模式下背景设置 */
/* 阅读模式 */
.read-mode #aside-content .card-widget{
  background: rgba(2, 51, 80, 0.5)!important;
}
.read-mode div#post{
background: rgba(161, 168, 166, 0.5)!important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgb(204, 124, 124)!important;
        color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#post{
      background: rgba(164, 128, 128, 0.606)!important;
      color: #ece6e67e;
      }
/* 夜间模式 */
[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.945)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(24, 24, 24, 0.5)!important;
    }
/* for electric clock */
#aside-content.aside-content > .sticky_layout > .card-widget.card-clock > .card-glass > .card-background {
  background-color: unset ;
  box-shadow: unset ;
}
